<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naple.android.one_day_one_motivation">
    <!-- 외부 인터넷 연결 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 안드로이드 11버전 호환 -->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_splash"
        android:label="1일1동기부여"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.1day1motivation"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LicenseInfoActivity"></activity>
        <activity android:name=".activity.OpenSourceListActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appId" />

        <activity
            android:name=".activity.VideoScreenActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.VideosListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>